@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
*{
  scroll-behavior: smooth;
}
.navbar {
  font-family: 'Inknut Antiqua', serif;
  height: 80px;
  width: auto;
   background: linear-gradient(89.98deg, rgba(64, 66, 170),rgb(109,113, 204)); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   backdrop-filter: blur(5px); 
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 90%; 
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 83vw;
  margin-left: 20rem;
  justify-content: flex-end;
  margin-right: 0.5rem;
  padding-bottom: -10px;
}

.nav-item {
  display: flex;
  align-items: center;
  /* height: 10vh; */
  font-size: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: white;
  margin-right: 0.5rem;
  padding: 0px 16px;
}

/* .nav-item a:hover {
  border-bottom: #c9db26 3px solid;
  overflow: hidden;
} */
